body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.app {
  text-align: center;
}

.navbar {
  background-color: #f14981;
  color: white;
  padding: 15px;
  font-size: 24px;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-list h2 {
  text-align: left;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
}

.task-item.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.add-btn, .toggle-btn, .delete-btn {
  background: #e76c8b;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
}

.delete-btn {
  background: #dc3545;
}

.toggle-btn {
  background: #28a745;
}

select {
  padding: 5px;
  margin-left: 5px;
}

.edit-btn {
  justify-content: space-evenly;
  background: #ffc107;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.footer {
  background-color: #f14981;
  color: white;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

/* Responsive Design */
@media (max-width: 500px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  .input-container {
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  .task-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .task-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  .edit-btn,
  .delete-btn {
    width: 48%;
  }
}
